aclocal.m4
autom4te*
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
ar-lib
*~
Makefile.in
Makefile
mkinstalldirs
.*.sw?
.deps
.libs
compile
*.la
*.o
*.lo
*.loT
*.pyc
*.so
*.defs
*.gmo
gtk-doc.make
py-compile
m4/*
!m4/introspection.m4
data/gtk-mac-integration*.pc
*.gir
*.typelib
src/test-integration-gtk*
